<%= form_with(model: form  ,  local: true ) do |f| %> 
    <div> 
    <%= f.label :name  , 'Name of the form' %> <br/>  
    <%= f.text_field :name %> 
    </div>  
    <div>  
    <%= f.label :description  , 'Description of the form' %> <br/>  
    <%= f.text_field  :description %> 
    </div> 
    <div> 
    <%= f.label  :public , 'Do you want to the form to be public?' %> <br/>  
    <%= f.check_box :public %> 
    </div>  
    <%= f.submit 'Submit' %> 
<% end %> 